

#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand
{
	color: black;
}	
.navbar-brand img
{
	height: 70px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
	display: inline-block;
}
.navbar-nav li a
{	
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background:#fff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
.product
{
	background: #f9f9f9;
	height: 340px;
	box-shadow: 0 5px 15px #555;
	border-radius: 5px;
	font-family: sans-serif;
	position: relative;
	overflow: hidden;
}
.product .img-box{}
.product .img-box img{
	margin: auto;
	width:100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.product .details
{
	position: absolute;
	bottom: -120px;
	background: #FFFFFF;
	padding: 12px;
	box-sizing: border-box;
	transition: 0.35s;
}
.product:hover .details
{
	bottom: 0;
}
.product .details h2
{
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.product .details h2 span
{
	color: #A1A1A1;
	font-size:9px;
}
.product .details .price{
	position: absolute;
	top: 10px;
	right: 10px;
	color: red;
	font-weight: bold;
	font-size: 20px;
}
.product .details p{
	color: #5A5D5A;
	font-size: 5px;
}
body
{
	background-color: #333333;
	filter: grayscale(100%)
	padding-bottom: 30px;
}
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img
{
	height: 70px;
	padding-left: 30px;
}
.navbar-nav li
{
	padding: 0 10px;
	display: inline-block;
}
.navbar-nav li a
{	
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar
{
	background:#fff;
}
.navbar-toggler
{
	border: none!important;
}
.nav-link
{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
.product
{
	background: #f9f9f9;
	height: 340px;
	box-shadow: 0 5px 15px #555;
	border-radius: 5px;
	font-family: sans-serif;
	position: relative;
	overflow: hidden;
}
.product .img-box{}
.product .img-box img{
	margin: auto;
	width:100%;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.product .details
{
	position: absolute;
	bottom: -120px;
	background: #FFFFFF;
	padding: 12px;
	box-sizing: border-box;
	transition: 0.35s;
}
.product:hover .details
{
	bottom: 0;
}
.product .details h2
{
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.product .details h2 span
{
	color: #696969;
	font-size:15px;
}
.product .details .price{
	position: absolute;
	top: 10px;
	right: 10px;
	color: red;
	font-weight: bold;
	font-size: 15px;
}
.product .details p{
	color: #5A5D5A;
	font-size: 13px;
}

.pro-pri {
  display: flex;
  align-items: center;
}
 
.pro-pri span {
  font-size: 20px;
  font-weight: 300;
  font-family:  "Times New Roman", Times, serif;
  text-align: center;
  color: #FFFFFF;
  margin-right: 10px;
  margin-left: 450px;
}
 
.cart-btn {
  display: inline-block;
  background: linear-gradient(to right, #ff105f,#ffad06);
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

